{% extends "base.html"%}
{% load staticfiles %}
{% block body %}
<!-- <script src='{% static "myscript.js"%}'></script> -->
<script>
    function myfun(e){
        prid = e;
        $.ajax({
            url:'{% url "index" %}',
            type:'get',
            data:{prid:prid},
            success:function(data){
                var check = (data.description).search('@');
                if(check==-1){
                    dsc = data.description;
                }
                else{
                    var dd = (data.description).split('@');
                    dsc = '';
                    for(var i=0; i<dd.length-1;i++){
                        dsc+='<li>'+dd[i]+'</li>';
                    }
                }
                $('.pimg').html('<img src="/media/'+data.photo+'" alt="No Image" class="img-responsive" height="100%"/>');
                $('#pname').html(data.name);
                $('#pdes').html('<ul>'+dsc+'</ul>');
                $('#pp').html(data.price);
                $('#sp').html(data.sale_price); 
                $('#iprice').val(data.sale_price);
                $('#pn').val(data.name);
            }
        });
    }
</script>
<!-- banner -->
<div class="banner banner2">
    <div class="container">
        <h2>Top Selling <span>Gadgets</span> Flat <i>25% Discount</i></h2> 
    </div>
</div> 
<!-- breadcrumbs -->
<div class="breadcrumb_dress">
    <div class="container">
        <ul>
            <li><a href="{% url 'index'%}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a> <i>/</i></li>
            <li>Products</li>
        </ul>
    </div>
</div>
<!-- //breadcrumbs --> 
<!-- mobiles -->
<div class="mobiles">
    <div class="container">
        <div class="w3ls_mobiles_grids">
            <div class="col-md-4 w3ls_mobiles_grid_left">
                <div class="w3ls_mobiles_grid_left_grid">
                    <h3>Categories</h3>
                    <div class="w3ls_mobiles_grid_left_grid_sub">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            {% for i in allcat %}
                            <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">
                                        <h4 class="panel-title asd">
                                            <a class="pa_italic" role="button" data-toggle="collapse" data-parent="#accordion" href="#a{{i.1}}" aria-expanded="true" aria-controls="a{{i.1}}">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span><i class="glyphicon glyphicon-minus" aria-hidden="true"></i> {{i.0}}
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="a{{i.1}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body panel_text">
                                        <ul>
                                        {% for j in i %}
                                        <li><a href="{% url 'myapp:showproducts' %}?searchcat={{i.0}}&&scat={{j.category_name}}">
                                            {{j.category_name}}        
                                        </a></li>
                                        {% endfor %}
                                            
                                        </ul>
                                    </div>
                                    </div> 
                                </div> 
                                {% endfor %}
                          
                        </div>
                        <ul class="panel_bottom">
                            <!-- <li><a href="products.html">Summer Store</a></li>
                            <li><a href="products.html">Featured Brands</a></li> -->
                            <li><a href="{% url 'myapp:showproducts' %}?deal=today">Today's Deals</a></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="w3ls_mobiles_grid_left_grid">
                    <h3>Color</h3>
                    <div class="w3ls_mobiles_grid_left_grid_sub">
                        <div class="ecommerce_color">
                            <ul>
                                <li><a href="#"><i></i> Red(5)</a></li>
                                <li><a href="#"><i></i> Brown(2)</a></li>
                                <li><a href="#"><i></i> Yellow(3)</a></li>
                                <li><a href="#"><i></i> Violet(6)</a></li>
                                <li><a href="#"><i></i> Orange(2)</a></li>
                                <li><a href="#"><i></i> Blue(1)</a></li>
                            </ul>
                        </div>
                    </div>
                </div> -->
                <div class="w3ls_mobiles_grid_left_grid">
                    <h3>Price</h3>
                    <div class="w3ls_mobiles_grid_left_grid_sub">
                        <div class="ecommerce_color ecommerce_size">
                            <ul>
                                <li><a href="{% url 'myapp:showproducts' %}?min=0&&max=100">Below &#8377; 100</a></li>
                                <li><a href="{% url 'myapp:showproducts' %}?min=100&&max=500">&#8377; 100-500</a></li>
                                <li><a href="{% url 'myapp:showproducts' %}?min=500&&max=1000">&#8377; 500-1k</a></li>
                                <li><a href="{% url 'myapp:showproducts' %}?min=1000&&max=10000">&#8377; 1k-10k</a></li>
                                <li><a href="{% url 'myapp:showproducts' %}?above=20000">&#8377; Above 10k</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 w3ls_mobiles_grid_right">
                <div class="col-md-6 w3ls_mobiles_grid_right_left">
                    <div class="w3ls_mobiles_grid_right_grid1">
                        <img src="{% static 'images/48.jpg'%}" alt=" " class="img-responsive" />
                        <div class="w3ls_mobiles_grid_right_grid1_pos1">
                            <h3>Attractive<span> New</span> Wrist Watches</h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 w3ls_mobiles_grid_right_left">
                    <div class="w3ls_mobiles_grid_right_grid1">
                        <img src="{% static 'images/49.jpg'%}" alt=" " class="img-responsive" />
                        <div class="w3ls_mobiles_grid_right_grid1_pos"> 
                            <h3>Best Prices On<span> Laptop</span>Upto 50% Off</h3>
                        </div>
                    </div>
                </div>
                <div class="clearfix"> </div>

                <div class="w3ls_mobiles_grid_right_grid2">
                    <div class="w3ls_mobiles_grid_right_grid2_left">
                       {% if total %}
                       <h3>Total Results: {{total}}</h3>
                       {% endif %}
                    </div>
                    
                    <div class="clearfix"> </div>
                </div>
                <div class="row w3ls_mobiles_grid_right_grid3">
                    {% for i in p %}
                    <div class="col-md-4 agileinfo_new_products_grid agileinfo_new_products_grid_mobiles" style='margin-bottom:10px;'>
                        <div class="agile_ecommerce_tab_left mobiles_grid">
                            <div class="hs-wrapper hs-wrapper2">
                                <img src="/media/{{i.photo}}" alt="No Image" height='200' width='100%' class="img-responsive" />
                                <img src="/media/{{i.photo}}" alt="No Image" height='200' width='100%' class="img-responsive" />
                                <img src="/media/{{i.photo}}" alt="No Image" height='200' width='100%' class="img-responsive" />
                                <img src="/media/{{i.photo}}" alt="No Image" height='200' width='100%' class="img-responsive" />
                                <img src="/media/{{i.photo}}" alt="No Image" height='200' width='100%' class="img-responsive" />
                                
                                <div class="w3_hs_bottom w3_hs_bottom_sub1">
                                    <ul>
                                        <li>
                                            <a href="#" onclick="myfun('{{i.id}}')" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div  style='height: 50px;line-height:50px;'>
                                <h5><a href="{% url 'myapp:singleproduct'%}?singlep={{i.id}}">{{i.product_name}}</a></h5> 
                            </div>
                            <div class="simpleCart_shelfItem">
                                <p><span> &#8377;{{i.price}}</span> <i class="item_price"> &#8377;{{i.sale_price}}</i></p>
                                <form action="{% url 'myapp:cart'%}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="add" value="1" /> 
                                    <input type="hidden" name="w3ls_item" value="{{i.product_name}}" /> 
                                    <input type="hidden" name="amount" value="{{i.sale_price}}"/>   
                                    <input type="hidden" name="item_id" value="{{i.id}}"/>   
                                    <button type="submit" class="w3ls-cart">Add to cart</button>
                                </form>
                            </div> 
                            <!-- <div class="mobiles_grid_pos">
                                <h6>New</h6>
                            </div> -->
                        </div>
                    </div>          
                    {% endfor %}
                    <div class="clearfix"> </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>   

<div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
            </div>
            <section>
                <div class="modal-body">
                    <div class="col-md-5 pimg modal_body_left">
                       
                    </div>
                    <div class="col-md-7 modal_body_right">
                        <h4 id='pname'></h4>
                        <p id='pdes'></p>
                        <div class="rating">
                            <div class="rating-left">
                                <img src="{% static 'images/star-.png' %}" alt=" " class="img-responsive" />
                            </div>
                            <div class="rating-left">
                                <img src="{% static 'images/star-.png' %}" alt=" " class="img-responsive" />
                            </div>
                            <div class="rating-left">
                                <img src="{% static 'images/star-.png' %}" alt=" " class="img-responsive" />
                            </div>
                            <div class="rating-left">
                                <img src="{% static 'images/star-.png' %}" alt=" " class="img-responsive" />
                            </div>
                            <div class="rating-left">
                                <img src="{% static 'images/star-.png' %}" alt=" " class="img-responsive" />
                            </div>
                            
                            <div class="clearfix"> </div>
                        </div>  
                        <div class="modal_body_right_cart  simpleCart_shelfItem">
                            <p><span id='pp'></span> <i class="item_price" id='sp'></i></p>
                            <form action="{% url 'myapp:cart'%}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="add" value="1" /> 
                                <input type="hidden" name="w3ls_item" value="" id='pn' /> 
                                <input type="hidden" name="amount" value="" id='iprice' />   
                                <input type="hidden" name="item_id" value="" id='item_id' />   
                                <button type="submit" class="w3ls-cart">Add to cart</button>
                            </form>
                        </div>
                        <h5>Color</h5>
                        <div class="color-quality">
                            <ul>
                                <li><a href="#"><span></span></a></li>
                                <li><a href="#" class="brown"><span></span></a></li>
                                <li><a href="#" class="purple"><span></span></a></li>
                                <li><a href="#" class="gray"><span></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </section>
        </div>
    </div>
</div>  
<!-- Related Products -->
{% if rp %}
<div class="w3l_related_products">
    <div class="container">
        <h3>Related Products</h3>
        <ul id="flexiselDemo2">			
            {% for i in rp %}
            <li>
                <div class="w3l_related_products_grid">
                    <div class="agile_ecommerce_tab_left mobiles_grid">
                        <div class="hs-wrapper hs-wrapper3">
                            <img src="/media/{{i.photo}}" alt=" " height='150' width="90%" class="img-responsive" />
                            <img src="/media/{{i.photo}}" alt=" " height='150' width="90%" class="img-responsive" />
                            <img src="/media/{{i.photo}}" alt=" " height='150' width="90%" class="img-responsive" />
                            <img src="/media/{{i.photo}}" alt=" " height='150' width="90%" class="img-responsive" />
                            <img src="/media/{{i.photo}}" alt=" " height='150' width="90%" class="img-responsive" />
                            <img src="/media/{{i.photo}}" alt=" " height='150' width="90%" class="img-responsive" />
                            
                            <div class="w3_hs_bottom">
                                <div class="flex_ecommerce">
                                    <a href="#" data-toggle="modal" onclick="myfun('{{i.id}}')" data-target="#myModal1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        </div>
                        <h5><a href="{% url 'myapp:singleproduct'%}?singlep={{i.id}}">{{i.product_name}}</a></h5>
                        <div class="simpleCart_shelfItem"> 
                            <p class="flexisel_ecommerce_cart"><span>&#8377;{{i.price}}</span> <i class="item_price">&#8377;{{i.sale_price}}</i></p>
                            <form action="{% url 'myapp:cart'%}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="add" value="1"> 
                                <input type="hidden" name="w3ls_item" value="{{i.product_name}}"> 
                                <input type="hidden" name="amount" value="{{i.sale_price}}">   
                                <input type="hidden" name="item_id" value="{{i.id}}">   
                                <button type="submit" class="w3ls-cart">Add to cart</button>
                            </form> 
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        
            <script type="text/javascript">
                $(window).load(function() {
                    $("#flexiselDemo2").flexisel({
                        visibleItems:4,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,    		
                        pauseOnHover: true,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: { 
                            portrait: { 
                                changePoint:568,
                                visibleItems: 1
                            }, 
                            landscape: { 
                                changePoint:667,
                                visibleItems:2
                            },
                            tablet: { 
                                changePoint:768,
                                visibleItems: 3
                            }
                        }
                    });
                    
                });
            </script>
            <script type="text/javascript" src="{% static 'js/jquery.flexisel.js'%}"></script>
    </div>
</div>
{% endif %} 
<!-- //Related Products -->
{% endblock %}